* {
    margin: 0;
    word-wrap: break-word;
    -moz-word-break: normal;
    -o-word-break: normal;
    word-break: normal;
}

#wrapper {
    min-height: 100%;
    height: auto !important;
    height: 100%;
    margin: 0 auto -40px;
}

#wrapper2 {
    min-height: 100%;
    height: auto !important;
    height: 100%;
    margin: 0 auto -40px;
}
